@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);



.hidden {
  display: none;
}

.ctxmenu {
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
}
  .ctxmenu-menu {
    list-style: none;
    padding: 1px;
    margin: 0;
    border: 1px solid #888;
    background: #fefefe;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #333;
  }
    .ctxmenu-menu li {
      position: relative;
    }
      .ctxmenu-menu a,
      .ctxmenu-menu a:visited {
        display: block;
        white-space: nowrap;
        padding: 3px 20px 3px 5px;
        border: 1px solid transparent;
        background: transparent;
        border-radius: 3px;
        color: #333;
        text-decoration: none;
      }
      .ctxmenu-menu a:hover {
        border-color: #0065a5;
        background: #7daac7;
      }
  .ctxmenu-menu .ctxmenu-menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
  }
    .ctxmenu-menu li:hover > .ctxmenu-menu {
      display: block;
    }